<%
// Presents a box showing assorted information about the community
// for the technology area covered by a landing page.
//
// THIS IS THE NEW VERSION, PRESENTED AS A FULL-WIDTH BANNER.
//
// Parameters:
//  $0  Name of the topic/community
//  $1  Name of the mailing list for the community
//  $2  Name of the newsgroup for the community
//  $3  IRC channel name
//  $4  String containing a list of URLs and descriptions for additional
//      links (null if none).
//
// The $4 string of additional links is formatted as a list like this:
// heading|url|text|description||heading|url|text|description...
//
// The "description" part is optional and is used as non-linked added
// text.

var ircInfoStr = "";
var headingStr = "";
var messageStr = "";
var messageNoteStr = "";
var ircLink = "";
var extraLinks = "";

var ircInfoLink = "<a href='https://wiki.mozilla.org/IRC'>";

// Build the IRC channel URL if a channel name was specified

if ($3) {
    ircLink = "<a href='irc://irc.mozilla.org/" + $3 + "'>#" + $3 + "</a>";
}

// Generate localized strings

switch(env.locale) {
    default:
        headingStr = "Join the " + $0 + " community";
        messageStr = "Mailing list/newsgroup:";
        messageNoteStr = "Choose your preferred method for joining the discussion.";
        if ($3) {
            ircInfoStr = "<span class='smaller'>(" + ircInfoLink + "learn more</a>)</span>";
        }
        break;
}

// If the extra links string is provided, build that HTML

if (($4 && $4 != undefined) || (ircLink.length)) {
    var list = $4.split("||");      // a list of each item in "url|description" format
    
    extraLinks = "<ul class='communitycontact'>";
    
    if (ircLink.length) {
        extraLinks += "<li><strong>IRC: </strong>" + ircLink + " " + ircInfoStr + "</li>";
    }
    
    for (var i=0; i<list.length; i++) {
        var comp = list[i].split("|");  // comp[0] is heading, 1 is URL, 2 is description
        var tooltipPart = "";
        if (comp[3]) {
            tooltipPart = " title='" + comp[3] + "'";
        }
        extraLinks += "<li><strong>" + comp[0] + ": </strong><a href='" + comp[1] + "'" + tooltipPart + ">" + comp[2] + "</a></li>";
    }
    
    extraLinks += "</ul>";
}

%>

<div class="overheadIndicator communitybox">
    <div class="column-container">
        <h2 id="Join_the_community"><%=headingStr%></h2>
        <div class="column-half">
            <div class="communitysubhead"><%=messageStr%></div>
            <div class="smaller"><%-messageNoteStr%></div>
            <%-template("DiscussionList", [$1, $2, "communitymailinglist"])%>
        </div>
        <div class="column-half">
            <%-extraLinks%>
        </div>
    </div>
</div>
