<div class="index" style="-moz-column-width:14em; -webkit-columns:14em; columns:14em">
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">A</span> 
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", [":active"]) %></li> 
<li><%- template("Cssxref", ["::after", "::after (:after)"]) %></li> 
<li><%- template("Cssxref", ["align-content"]) %></li> 
<li><%- template("Cssxref", ["align-items"]) %></li> 
<li><%- template("Cssxref", ["align-self"]) %></li> 
<li><%- template("Xref_cssangle") %></li> 
<li><%- template("Cssxref", ["animation"]) %></li> 
<li><%- template("Cssxref", ["animation-delay"]) %></li> 
<li><%- template("Cssxref", ["animation-direction"]) %></li> 
<li><%- template("Cssxref", ["animation-duration"]) %></li> 
<li><%- template("Cssxref", ["animation-fill-mode"]) %></li> 
<li><%- template("Cssxref", ["animation-iteration-count"]) %></li> 
<li><%- template("Cssxref", ["animation-name"]) %></li> 
<li><%- template("Cssxref", ["animation-play-state"]) %></li> 
<li><%- template("Cssxref", ["animation-timing-function"]) %></li> 
<li><%- template("Cssxref", ["attr", "attr()"]) %></li> 
<li><%- template("Cssxref", ["auto"]) %></li> 
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">B</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["backface-visibility"]) %></li> 
<li><%- template("Cssxref", ["background"]) %></li> 
<li><%- template("Cssxref", ["background-attachment"]) %></li> 
<li><%- template("Cssxref", ["background-clip"]) %></li> 
<li><%- template("Cssxref", ["background-color"]) %></li> 
<li><%- template("Cssxref", ["background-image"]) %></li> 
<li><%- template("Cssxref", ["background-origin"]) %></li> 
<li><%- template("Cssxref", ["background-position"]) %></li> 
<li><%- template("Cssxref", ["background-repeat"]) %></li> 
<li><%- template("Cssxref", ["background-size"]) %></li> 
<li><%- template("Cssxref", ["::before", "::before (:before)"]) %></li> 
<li><%- template("Cssxref", ["border"]) %></li> 
<li><%- template("Cssxref", ["border-bottom"]) %></li> 
<li><%- template("Cssxref", ["border-bottom-color"]) %></li> 
<li><%- template("Cssxref", ["border-bottom-left-radius"]) %></li> 
<li><%- template("Cssxref", ["border-bottom-right-radius"]) %></li> 
<li><%- template("Cssxref", ["border-bottom-style"]) %></li> 
<li><%- template("Cssxref", ["border-bottom-width"]) %></li> 
<li><%- template("Cssxref", ["border-collapse"]) %></li> 
<li><%- template("Cssxref", ["border-color"]) %></li> 
<li><%- template("Cssxref", ["border-image"]) %></li> 
<li><%- template("Cssxref", ["border-image-outset"]) %></li> 
<li><%- template("Cssxref", ["border-image-repeat"]) %></li> 
<li><%- template("Cssxref", ["border-image-slice"]) %></li> 
<li><%- template("Cssxref", ["border-image-source"]) %></li> 
<li><%- template("Cssxref", ["border-image-width"]) %></li> 
<li><%- template("Cssxref", ["border-left"]) %></li> 
<li><%- template("Cssxref", ["border-left-color"]) %></li> 
<li><%- template("Cssxref", ["border-left-style"]) %></li> 
<li><%- template("Cssxref", ["border-left-width"]) %></li> 
<li><%- template("Cssxref", ["border-radius"]) %></li> 
<li><%- template("Cssxref", ["border-right"]) %></li> 
<li><%- template("Cssxref", ["border-right-color"]) %></li> 
<li><%- template("Cssxref", ["border-right-style"]) %></li> 
<li><%- template("Cssxref", ["border-right-width"]) %></li> 
<li><%- template("Cssxref", ["border-spacing"]) %></li> 
<li><%- template("Cssxref", ["border-style"]) %></li> 
<li><%- template("Cssxref", ["border-top"]) %></li> 
<li><%- template("Cssxref", ["border-top-color"]) %></li> 
<li><%- template("Cssxref", ["border-top-left-radius"]) %></li> 
<li><%- template("Cssxref", ["border-top-right-radius"]) %></li> 
<li><%- template("Cssxref", ["border-top-style"]) %></li> 
<li><%- template("Cssxref", ["border-top-width"]) %></li> 
<li><%- template("Cssxref", ["border-width"]) %></li> 
<li><%- template("Cssxref", ["bottom"]) %></li> 
<li><%- template("Cssxref", ["box-align"]) %></li> 
<li><%- template("Cssxref", ["box-decoration-break"]) %></li> 
<li><%- template("Cssxref", ["box-direction"]) %></li> 
<li><%- template("Cssxref", ["box-flex"]) %></li> 
<li><%- template("Cssxref", ["box-flex-group"]) %></li> 
<li><%- template("Cssxref", ["box-lines"]) %></li> 
<li><%- template("Cssxref", ["box-ordinal-group"]) %></li> 
<li><%- template("Cssxref", ["box-orient"]) %></li> 
<li><%- template("Cssxref", ["box-pack"]) %></li> 
<li><%- template("Cssxref", ["box-shadow"]) %></li> 
<li><%- template("Cssxref", ["box-sizing"]) %></li> 
<li><%- template("Cssxref", ["break-after"]) %></li> 
<li><%- template("Cssxref", ["break-before"]) %></li> 
<li><%- template("Cssxref", ["break-inside"]) %></li> 
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">C</span> 
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["calc", "calc()"]) %></li> 
<li><%- template("Cssxref", ["caption-side"]) %></li> 
<li><%- template("Cssxref", ["@charset"]) %></li> 
<li><%- template("Cssxref", [":checked"]) %></li> 
<li><%- template("Cssxref", ["::choices"]) %></li> 
<li><%- template("Cssxref", ["clear"]) %></li> 
<li><%- template("Cssxref", ["clip"]) %></li> 
<li><%- template("Cssxref", ["clip-path"]) %></li> 
<li><%- template("Cssxref", ["color"]) %></li> 
<li><%- template("Xref_csscolorvalue") %></li> 
<li><%- template("Cssxref", ["columns"]) %></li> 
<li><%- template("Cssxref", ["column-count"]) %></li> 
<li><%- template("Cssxref", ["column-fill"]) %></li> 
<li><%- template("Cssxref", ["column-gap"]) %></li> 
<li><%- template("Cssxref", ["column-rule"]) %></li> 
<li><%- template("Cssxref", ["column-rule-color"]) %></li> 
<li><%- template("Cssxref", ["column-rule-style"]) %></li> 
<li><%- template("Cssxref", ["column-rule-width"]) %></li> 
<li><%- template("Cssxref", ["column-span"]) %></li> 
<li><%- template("Cssxref", ["column-width"]) %></li> 
<li><%- template("Cssxref", ["content"]) %></li> 
<li><%- template("Xref_csscounter") %></li> 
<li><%- template("Cssxref", ["counter-increment"]) %></li> 
<li><%- template("Cssxref", ["counter-reset"]) %></li> 
<li><%- template("Cssxref", ["timing-function","cubic-bezier()","#The_cubic-bezier()_class_of_timing-functions"]) %></li> 
<li><%- template("Cssxref", ["cursor"]) %></li> 
<li><%- template("Cssxref", ["cycle", "cycle()"]) %></li> 
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">D</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", [":default"]) %></li> 
<li><%- template("Cssxref", ["direction"]) %></li> 
<li><%- template("Cssxref", [":disabled"]) %></li> 
<li><%- template("Cssxref", ["display"]) %></li> 
<li><%- template("Cssxref", ["@document"]) %></li> 
</ul> 
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">E</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["element","element()"]) %></li> 
<li><%- template("Cssxref", [":empty"]) %></li> 
<li><%- template("Cssxref", ["empty-cells"]) %></li> 
<li><%- template("Cssxref", [":enabled"]) %></li> 
</ul> 
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">F</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["filter"]) %></li> 
<li><%- template("Cssxref", [":first"]) %></li> 
<li><%- template("Cssxref", [":first-child"]) %></li> 
<li><%- template("Cssxref", ["::first-letter", "::first-letter (:first-letter)"]) %></li> 
<li><%- template("Cssxref", ["::first-line", "::first-line (:first-line)"]) %></li> 
<li><span class="comment"><%- template("Cssxref", [":first-node"]) %></span></li> 
<li><%- template("Cssxref", [":first-of-type"]) %></li> 
<li><%- template("Cssxref", ["flex"]) %></li> 
<li><%- template("Cssxref", ["flex-basis"]) %></li> 
<li><%- template("Cssxref", ["flex-direction"]) %></li> 
<li><%- template("Cssxref", ["flex-flow"]) %></li> 
<li><%- template("Cssxref", ["flex-grow"]) %></li> 
<li><%- template("Cssxref", ["flex-shrink  "]) %></li> 
<li><%- template("Cssxref", ["flex-wrap"]) %></li> 
<li><%- template("Cssxref", ["float"]) %></li> 
<li><%- template("Cssxref", [":focus"]) %></li> 
<li><%- template("Cssxref", ["font"]) %></li> 
<li><%- template("Cssxref", ["@font-face"]) %></li> 
<li><%- template("Cssxref", ["font-family"]) %></li> 
<li><%- template("Cssxref", ["font-feature-settings"]) %></li> 
<li><%- template("Cssxref", ["font-kerning"]) %></li> 
<li><%- template("Cssxref", ["font-language-override"]) %></li> 
<li><%- template("Cssxref", ["font-size"]) %></li> 
<li><%- template("Cssxref", ["font-size-adjust"]) %></li> 
<li><%- template("Cssxref", ["font-stretch"]) %></li> 
<li><%- template("Cssxref", ["font-style"]) %></li> 
<li><%- template("Cssxref", ["font-variant"]) %></li> 
<li><%- template("Cssxref", ["font-variant-ligatures"]) %></li> 
<li><%- template("Cssxref", ["font-weight"]) %></li> 
<li><%- template("Xref_cssfrequency") %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">G</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Xref_cssgradient") %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">H</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["height"]) %></li> 
<li><%- template("Cssxref", [":hover"]) %></li> 
<li><%- template("Cssxref", ["color_value", "hsl()", "#HSL_(hue-saturation-lightness)_hsl(H.2CS.2CL)"]) %></li> 
<li><%- template("Cssxref", ["color_value","hsla()","#HSLa_(hue-saturation-lightness-alpha)_hsla(H.2CS.2CL.2Ca)"]) %></li> 
<li><%- template("Cssxref", ["hyphens"]) %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">I</span><br />
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["icon"]) %></li> 
<li><%- template("Xref_cssidentifier") %></li> 
<li><%- template("Xref_cssimage") %></li> 
<li><%- template("Cssxref", ["image()"]) %></li> 
<li><%- template("Cssxref", ["image-rendering"]) %></li> 
<li><%- template("Cssxref", ["image-resolution"]) %></li> 
<li><%- template("Cssxref", ["image-orientation"]) %></li> 
<li><%- template("Cssxref", ["ime-mode"]) %></li> 
<li><%- template("Cssxref", ["@import"]) %></li> 
<li><%- template("Cssxref", [":indeterminate"]) %></li> 
<li><%- template("Cssxref", [":in-range"]) %></li> 
<li><%- template("Cssxref", ["inherit"]) %></li> 
<li><%- template("Cssxref", ["initial"]) %></li> 
<li><%- template("Xref_cssinteger") %></li> 
<li><%- template("Cssxref", [":invalid"]) %></li> 
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">J</span><br />
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["justify-content"]) %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">K</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["@keyframes"]) %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">L</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", [":lang"]) %></li> 
<li><%- template("Cssxref", [":last-child"]) %></li> 
<li><span class="comment"><%- template("Cssxref", [":last-node"]) %></span></li> 
<li><%- template("Cssxref", [":last-of-type"]) %></li> 
<li><%- template("Cssxref", ["left"]) %></li> 
<li><%- template("Cssxref", [":left"]) %></li> 
<li><%- template("Xref_csslength") %></li> 
<li><%- template("Cssxref", ["letter-spacing"]) %></li> 
<li><%- template("Cssxref", ["linear-gradient", "linear-gradient()"]) %></li> 
<li><%- template("Cssxref", [":link"]) %></li> 
<li><%- template("Cssxref", ["line-height"]) %></li> 
<li><%- template("Cssxref", ["list-style"]) %></li> 
<li><%- template("Cssxref", ["list-style-image"]) %></li> 
<li><%- template("Cssxref", ["list-style-position"]) %></li> 
<li><%- template("Cssxref", ["list-style-type"]) %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">M</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["margin"]) %></li> 
<li><%- template("Cssxref", ["margin-bottom"]) %></li> 
<li><%- template("Cssxref", ["margin-left"]) %></li> 
<li><%- template("Cssxref", ["margin-right"]) %></li> 
<li><%- template("Cssxref", ["margin-top"]) %></li> 
<li><%- template("Cssxref", ["marker-offset"]) %></li> 
<li><%- template("Cssxref", ["marks"]) %></li> 
<li><%- template("Cssxref", ["mask"]) %></li> 
<li><%- template("Cssxref", ["transform-function","matrix()","#matrix()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","matrix3d()","#matrix3d()"]) %></li> 
<li><%- template("Cssxref", ["max-height"]) %></li> 
<li><%- template("Cssxref", ["max-width"]) %></li> 
<li><%- template("Cssxref", ["@media"]) %></li> 
<li><%- template("Cssxref", ["min-height"]) %></li> 
<li><%- template("Cssxref", ["min-width"]) %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">N</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["@namespace"]) %> (<a class="external" href="http://www.w3.org/TR/css3-namespace/">w3c</a>)</li> 
<li><%- template("Cssxref", ["nav-down"]) %></li> 
<li><%- template("Cssxref", ["nav-index"]) %></li> 
<li><%- template("Cssxref", ["nav-left"]) %></li> 
<li><%- template("Cssxref", ["nav-right"]) %></li> 
<li><%- template("Cssxref", ["nav-up"]) %></li> 
<li><%- template("Cssxref", ["none"]) %></li> 
<li><%- template("Cssxref", ["normal"]) %></li> 
<li><%- template("Cssxref", [":not"]) %></li> 
<li><%- template("Cssxref", [":nth-child"]) %></li> 
<li><%- template("Cssxref", [":nth-last-child"]) %></li> 
<li><%- template("Cssxref", [":nth-last-of-type"]) %></li> 
<li><%- template("Cssxref", [":nth-of-type"]) %></li> 
<li><%- template("Xref_cssnumber") %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">O</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["object-fit"]) %></li> 
<li><%- template("Cssxref", ["object-position"]) %></li> 
<li><%- template("Cssxref", [":only-child"]) %></li> 
<li><%- template("Cssxref", [":only-of-type"]) %></li> 
<li><%- template("Cssxref", ["opacity"]) %></li> 
<li><%- template("Cssxref", [":optional"]) %></li> 
<li><%- template("Cssxref", ["order"]) %></li> 
<li><%- template("Cssxref", ["orphans"]) %></li> 
<li><%- template("Cssxref", ["outline"]) %></li> 
<li><%- template("Cssxref", ["outline-color"]) %></li> 
<li><%- template("Cssxref", ["outline-offset"]) %></li> 
<li><%- template("Cssxref", ["outline-style"]) %></li> 
<li><%- template("Cssxref", ["outline-width"]) %></li> 
<li><%- template("Cssxref", [":out-range"]) %></li> 
<li><%- template("Cssxref", ["overflow"]) %></li> 
<li><%- template("Cssxref", ["overflow-wrap"]) %></li> 
<li><%- template("Cssxref", ["overflow-x"]) %></li> 
<li><%- template("Cssxref", ["overflow-y"]) %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">P</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["padding"]) %></li> 
<li><%- template("Cssxref", ["padding-bottom"]) %></li> 
<li><%- template("Cssxref", ["padding-left"]) %></li> 
<li><%- template("Cssxref", ["padding-right"]) %></li> 
<li><%- template("Cssxref", ["padding-top"]) %></li> 
<li><%- template("Cssxref", ["@page"]) %></li> 
<li><%- template("Cssxref", ["page-break-after"]) %></li> 
<li><%- template("Cssxref", ["page-break-before"]) %></li> 
<li><%- template("Cssxref", ["page-break-inside"]) %></li> 
<li><%- template("Xref_csspercentage") %></li> 
<li><%- template("Cssxref", ["perspective"]) %></li> 
<li><%- template("Cssxref", ["transform-function","perspective()","#perspective()"]) %></li> 
<li><%- template("Cssxref", ["perspective-origin"]) %></li> 
<li><%- template("Cssxref", ["pointer-events"]) %></li> 
<li><%- template("Cssxref", ["position"]) %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">Q</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["quotes"]) %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">R</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["radial-gradient", "radial-gradient()"]) %></li> 
<li><%- template("Xref_cssratio") %></li> 
<li><%- template("Cssxref", [":read-only"]) %></li> 
<li><%- template("Cssxref", [":read-write"]) %></li> 
<li><%- template("Cssxref", ["shape","rect()","#Syntax"]) %></li> 
<li><%- template("Cssxref", ["::repeat-index"]) %></li> 
<li><%- template("Cssxref", ["::repeat-item"]) %></li> 
<li><%- template("Cssxref", ["repeating-linear-gradient", "repeating-linear-gradient()"]) %></li> 
<li><%- template("Cssxref", ["repeating-radial-gradient","repeating-radial-gradient()"]) %></li> 
<li><%- template("Cssxref", [":required"]) %></li> 
<li><%- template("Cssxref", ["resize"]) %></li> 
<li><%- template("Xref_cssresolution") %></li> 
<li><%- template("Cssxref", ["color_value","rgb()","#RGB_(red-green-blue)"]) %></li> 
<li><%- template("Cssxref", ["color_value","rgba()","#RGBa_(red-green-blue-alpha)_rgba(R.2CG.2CB.2Ca)"]) %></li> 
<li><%- template("Cssxref", ["right"]) %></li> 
<li><%- template("Cssxref", [":right"]) %></li> 
<li><%- template("Cssxref", [":root"]) %></li> 
<li><%- template("Cssxref", ["transform-function","rotate()","#rotate()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","rotateX()","#rotateX()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","rotateY()","#rotateY()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","rotateZ()","#rotateZ()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","rotate3d()","#rotate3d()"]) %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">S</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["transform-function","scale()","#scale()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","scaleX()","#scaleX()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","scaleY()","#scaleY()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","scaleZ()","#scaleZ()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","scale3d()","#scale3d()"]) %></li> 
<li><%- template("Cssxref", ["::selection"]) %></li> 
<li><%- template("Xref_cssshape") %></li> 
<li><%- template("Cssxref", ["transform-function","skew()","#skew()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","skewX()","#skewX()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","skewY()","#skewY()"]) %></li> 
<li><%- template("Cssxref", ["timing-function","steps()","#The_steps()_class_of_timing-functions"]) %></li> 
<li><%- template("Xref_cssstring") %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">T</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["table-layout"]) %></li> 
<li><%- template("Cssxref", ["tab-size"]) %></li> 
<li><%- template("Cssxref", ["text-align"]) %></li> 
<li><%- template("Cssxref", ["text-align-last"]) %></li> 
<li><%- template("Cssxref", ["text-decoration"]) %></li> 
<li><%- template("Cssxref", ["text-decoration-color"]) %></li> 
<li><%- template("Cssxref", ["text-decoration-line"]) %></li> 
<li><%- template("Cssxref", ["text-decoration-style"]) %></li> 
<li><%- template("Cssxref", ["text-indent"]) %></li> 
<li><%- template("Cssxref", ["text-overflow"]) %></li> 
<li><%- template("Cssxref", ["text-rendering"]) %></li> 
<li><%- template("Cssxref", ["text-shadow"]) %></li> 
<li><%- template("Cssxref", ["text-transform"]) %></li> 
<li><%- template("Xref_csstime") %></li> 
<li><%- template("Xref_csstimingfunction") %></li> 
<li><%- template("Cssxref", ["top"]) %></li> 
<li><%- template("Cssxref", ["transform"]) %></li> 
<li><%- template("Cssxref", ["transform-origin"]) %></li> 
<li><%- template("Cssxref", ["transform-style"]) %></li> 
<li><%- template("Cssxref", ["transition"]) %></li> 
<li><%- template("Cssxref", ["transition-delay"]) %></li> 
<li><%- template("Cssxref", ["transition-duration"]) %></li> 
<li><%- template("Cssxref", ["transition-property"]) %></li> 
<li><%- template("Cssxref", ["transition-timing-function"]) %></li> 
<li><%- template("Cssxref", ["transform-function","translate()","#translate()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","translateX()","#translateX()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","translateY()","#translateY()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","translateZ()","#translateZ()"]) %></li> 
<li><%- template("Cssxref", ["transform-function","translate3d()","#translate3d()"]) %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">U</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["unicode-bidi"]) %></li> 
<li><%- template("Xref_cssuri") %></li> 
<li><%- template("Cssxref", ["uri","url()","#The_url()_functional_notation"]) %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">V</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", [":valid"]) %></li> 
<li><%- template("Cssxref", ["::value"]) %></li> 
<li><%- template("Cssxref", ["vertical-align"]) %></li> 
<li><%- template("Cssxref", ["@viewport"]) %></li> 
<li><%- template("Cssxref", ["visibility"]) %></li> 
<li><%- template("Cssxref", [":visited"]) %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">W</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["white-space"]) %></li> 
<li><%- template("Cssxref", ["widows"]) %></li> 
<li><%- template("Cssxref", ["width"]) %></li> 
<li><%- template("Cssxref", ["word-break"]) %></li> 
<li><%- template("Cssxref", ["word-spacing"]) %></li> 
<li><%- template("Cssxref", ["word-wrap"]) %></li>
</ul>
<span style="font-family: Georgia, Times, 'Times New Roman', serif;font-size:1.6em;">X Y Z</span>
<ul style="margin-left: 0; padding-left: 0; list-style-type:none;"> 
<li><%- template("Cssxref", ["z-index"]) %></li>
</ul>
</div>
