<div class="index">
<ol>
<li>A 
<ol> 
<li><%- template("cssxref", [":active"]) %></li> 
<li><%- template("Cssxref", ["@counter-style/additive-symbols", "additive-symbols"]) %></li> 
<li><%- template("cssxref", ["::after", "::after (:after)"]) %></li> 
<li><%- template("cssxref", ["align-content"]) %></li> 
<li><%- template("Cssxref", ["align-items"]) %></li> 
<li><%- template("Cssxref", ["align-self"]) %></li> 
<li><%- template("Cssxref", ["all"]) %></li>
<li><%- template("Cssxref", ["&lt;angle&gt;"]) %></li> 
<li><%- template("Cssxref", ["animation"]) %></li> 
<li><%- template("Cssxref", ["animation-delay"]) %></li> 
<li><%- template("Cssxref", ["animation-direction"]) %></li> 
<li><%- template("Cssxref", ["animation-duration"]) %></li> 
<li><%- template("Cssxref", ["animation-fill-mode"]) %></li> 
<li><%- template("Cssxref", ["animation-iteration-count"]) %></li> 
<li><%- template("Cssxref", ["animation-name"]) %></li> 
<li><%- template("Cssxref", ["animation-play-state"]) %></li> 
<li><%- template("Cssxref", ["animation-timing-function"]) %></li> 
<li><%- template("Cssxref", ["@font-feature-values", "@annotation", "#@annotation"]) %></li>
<li><%- template("Cssxref", ["font-variant-alternates", "annotation()", "#annotation()"]) %></li>
<li><%- template("Cssxref", ["attr", "attr()"]) %></li> 
</ol></li>
</div>
