<%
var s_css_href = '/en-US/docs/Web/CSS';
var s_css_title = 'CSS';
var s_css_ref_href = '/en-US/docs/Web/CSS/Reference';
var s_css_ref_title = 'CSS Reference';

switch (env.locale) {
    case 'es':
        s_css_href = false;
        s_css_ref_href = '/es/docs/Guía_de_referencia_de_CSS';
        s_css_ref_title = 'Referencia CSS';
        break;
    case 'fr':
        s_css_href = '/fr/docs/CSS';
        s_css_ref_href = '/fr/docs/CSS/Référence_CSS';
        s_css_ref_title = 'Référence CSS';
        break;
    case 'ja':
        s_css_href = '/ja/docs/Web/CSS';
        s_css_ref_href = '/ja/docs/Web/CSS/Reference';
        s_css_ref_title = 'CSS リファレンス';
        break;
    case 'ko':
        s_css_href = false;
        s_css_ref_href = '/ko/docs/CSS_Reference';
        s_css_ref_title = 'CSS Reference';
        break;
    case 'pl':
        s_css_href = '/pl/docs/CSS';
        s_css_ref_href = '/pl/docs/Dokumentacja_CSS';
        s_css_ref_title = 'Dokumentacja CSS';
        break;
    case 'pt-PT':
        s_css_href = false;
        s_css_ref_href = '/pt-PT/docs/Referência_CSS';
        s_css_ref_title = 'Referência CSS';
        break;
    case 'pt-BR':
        s_css_href = '/pt-BR/docs/CSS';
        s_css_ref_href = '/pt-BR/docs/CSS/CSS_Reference';
        s_css_ref_title = 'Referência CSS';
        break;
    case 'zh-CN':
        s_css_href = false;
        s_css_ref_href = '/zh-CN/docs/CSS_Reference';
        s_css_ref_title = 'CSS 参考';
        break;
    case 'de':
        s_css_href = '/de/docs/CSS';
        s_css_ref_href = 'de/docs/CSS_Referenz';
        s_css_ref_title = 'CSS Referenz';
        break;
    default: break;
}
%><span class="breadcrumbs cssRef_breadcrumbs"><% if (s_css_href) { %>&laquo; <a href="<%=s_css_href%>"><%=s_css_title%></a> <% } %>&laquo; <a href="<%=s_css_ref_href%>"><%=s_css_ref_title%></a></span>

  <% if (s_css_href) {  %>
  <h2 class="Quick_links" id="Quick_Links">Quick Links</h2>
  <ol>
      <li><a href="<%=s_css_href%>"><%=s_css_title%></a> </li>
      <li><a href="<%=s_css_ref_href%>"><%=s_css_ref_title%></a>
<ol> <li><a href="about:config">A</a><ol>
<li><%- template("cssxref", [":active"]) %></li> 
<li><%- template("cssxref", ["::after", "::after (:after)"]) %></li> 
<li><%- template("cssxref", ["align-content"]) %></li> 
<li><%- template("Cssxref", ["align-items"]) %></li> 
<li><%- template("Cssxref", ["align-self"]) %></li> 
<li><%- template("Xref_cssangle") %></li> 
<li><%- template("Cssxref", ["animation"]) %></li> 
<li><%- template("Cssxref", ["animation-delay"]) %></li> 
<li><%- template("Cssxref", ["animation-direction"]) %></li> 
<li><%- template("Cssxref", ["animation-duration"]) %></li> 
<li><%- template("Cssxref", ["animation-fill-mode"]) %></li> 
<li><%- template("Cssxref", ["animation-iteration-count"]) %></li> 
<li><%- template("Cssxref", ["animation-name"]) %></li> 
<li><%- template("Cssxref", ["animation-play-state"]) %></li> 
<li><%- template("Cssxref", ["animation-timing-function"]) %></li> 
<li><%- template("Cssxref", ["attr", "attr()"]) %></li> 
<li><%- template("Cssxref", ["auto"]) %></li>
</ol></li></ol></li> 
  </ol>
  <%}%>
