<%
var l = "en-US";

if(env.locale === "ja") {
    l = "ja";
}


%>
<h2 id="Quick_Links">Quick Links</h2>
<ol><li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/What_is_CSS">What is CSS?</a></li>
   	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Why_use_CSS">Why use CSS?</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/How_CSS_works">How CSS works</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Cascading_and_inheritance">Cascading and inheritance</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Selectors">Selectors</a></li>
    <li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Text_styles">Text styles</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Color">Color</a></li>   
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Content">Content</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Lists">Lists</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Boxes">Boxes</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Layout">Layout</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Tables">Tables</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/Media">Media </a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/JavaScript">JavaScript and CSS</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/SVG_and_CSS">SVG and CSS</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/XML_data">XML data</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/XBL_bindings">XBL binding</a></li>
	<li><a href="/<%- l %>/docs/Web/Guide/CSS/Getting_Started/XUL_user_interfaces">XUL user interfaces</a></li>
</ol>
