<%
var l = "en-US";

if(env.locale === "ja") {
    l = "ja";
}


%><div id="article-nav">
	<div class="page-toc">
		<h2>CSS Tutorial</h2>
		<ol style="list-style-type:none; margin-left:0; padding-left:0;">
			<li>Part I
				<ol style="list-style-type:none; margin-left:0; padding-left:15px;">
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/What_is_CSS">What is CSS?</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/Why_use_CSS">Why use CSS?</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/How_CSS_works">How CSS works</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/Cascading_and_inheritance">Cascading and inheritance</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/Selectors">Selectors</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/Readable_CSS">Readable CSS</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/Text_styles">Text styles</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/Color">Color</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/Content">Content</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/Lists">Lists</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/Boxes">Boxes</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/Layout">Layout</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/Tables">Tables</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/Media">Media </a>
				</ol>
			</li>
			<li>Part II
				<ol style="list-style-type:none; margin-left:0; padding-left:15px;">
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/JavaScript">JavaScript</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/SVG_graphics">SVG</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/XML_data">XML data</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/XBL_bindings">XBL binding</a>
				<li><a href="/<%- l %>/docs/CSS/Getting_Started/XUL_user_interfaces">XUL user interfaces</a>
				</ol>
			</li>
		</ol>
	</div>
</div>
