<% 
 // Collection of documentation status pages for sections and languages
%>
<section class="Quick_links" id="Quick_Links">
    <ol>
        <li><strong><a href="/<%=env.locale%>/docs/MDN/Doc_status">Documentation status pages</a></strong></li>
        <li><strong><a href="/<%=env.locale%>/docs/MDN/Doc_status/Overview">Overview</a></strong></li>
        <li><strong>Sections:</strong></li>
            <ol>
                <li><a href="/<%=env.locale%>/docs/MDN/Doc_status/Accessibility">Accessibility</a>
                <li><a href="/<%=env.locale%>/docs/MDN/Doc_status/API">API</a>
                <li><a href="/<%=env.locale%>/docs/MDN/Doc_status/Apps">Apps</a>
                <li><a href="/<%=env.locale%>/docs/MDN/Doc_status/CSS">CSS</a>
                <li><a href="/<%=env.locale%>/docs/MDN/Doc_status/DevTools">DevTools</a>
                <li><a href="/<%=env.locale%>/docs/MDN/Doc_status/Firefox_OS">Firefox OS</a>
                <li><a href="/<%=env.locale%>/docs/MDN/Doc_status/Games">Games</a>
                <li><a href="/<%=env.locale%>/docs/MDN/Doc_status/HTML">HTML</a>
                <li><a href="/<%=env.locale%>/docs/MDN/Doc_status/JavaScript">JavaScript</a>
                <li><a href="/<%=env.locale%>/docs/MDN/Doc_status/Marketplace">Marketplace</a>
                <li><a href="/<%=env.locale%>/docs/MDN/Doc_status/MathML">MathML</a>
                <li><a href="/<%=env.locale%>/docs/MDN/Doc_status/SVG">SVG</a>
            </ol>
        </li>
        <li><strong>Maintenance pages:</strong></li>
            <ol>
                <li><a href="/<%=env.locale%>/docs/needs-review/editorial">Editorial reviews</a></li>
                <li><a href="/<%=env.locale%>/docs/needs-review/technical">Technical reviews</a></li>
                <li><a href="/<%=env.locale%>/docs/with-errors">Pages with errors</a></li>
                <li><a href="/<%=env.locale%>/docs/without-parent">Pages without a parent</a></li>
                <li><a href="/<%=env.locale%>/docs/top-level">Top-level pages</a></li>
            </ol>
        </li>
        <li><strong>Localizations:</strong></li>
            <ol>
                <li><a href="/bn-BD/docs/MDN/Doc_status/Overview">বাংলা (বাংলাদেশ) (bn-BD)</a>
                <li><a href="/de/docs/MDN/Doc_status/Overview">Deutsch (de)</a>
                <li><a href="/es/docs/MDN/Doc_status/Overview">Español (es)</a>
                <li><a href="/fr/docs/MDN/Doc_status/Overview">Français (fr)</a>
                <li><a href="/ja/docs/MDN/Doc_status/Overview">日本語 (ja)</a>
                <li><a href="/pl/docs/MDN/Doc_status/Overview">Polski (pl)</a>
                <li><a href="/pt-BR/docs/MDN/Doc_status/Overview">Português (do Brasil) (pt-BR)</a>
                <li><a href="/ru/docs/MDN/Doc_status/Overview">Русский (ru)</a>
                <li><a href="/zh-CN/docs/MDN/Doc_status/Overview">中文 (简体) (zh-CN)</a>
            </ol>
    </ol>
</section>
