<% 
/* 
 * 2 parameters expected
 * $0 : the file name to embed
 * $1 : the syntaxe color to apply
 *
 * /!\ FIXE ME : There is a CSRF risk with an unfiltered $1 parameter
 */
  var found = false;
  var allFiles = env.files || [];
  
  
  allFiles.forEach(function(aFile) {
    for(var key in aFile){
%><%= key %> : <%= aFile[key] %><br><%
    }
    if ($0 === aFile.name) {
      found = true;
%>
<pre class="brush: <%= $1 %>"><%= mdn.getFileContent(aFile) %></pre>
<%
    }
  });
  
  if (!found) {
%><p>Unable to find file <em><%= $0 %></em></p><%
  }
%>
