<%
var str = mdn.localeString({
  "en-US" : ["Gecko_DOM_Reference", "DOM Reference", "&laquo;"],
  "ja":     ["Gecko_DOM_Reference", "DOM リファレンス", "&laquo;"]
});


%><span class="breadcrumbs"> <%- str[2] %> <a href="/<%- env.locale %>/docs/<%- str[0] %>"><%- str[1] %></a> <%- str[2] %> <%-template("domxref", [$0])%></span>
