<%
var str = mdn.localString({
  "en-US" : ["Gecko_DOM_Reference", "DOM Reference", "&laquo;"],
  "ja":     ["Gecko_DOM_Reference", "DOM リファレンス", "&laquo;"]
});

var url = '"/' + env.locale + "/docs/" + str[0] + '"';
%><span class="breadcrumbs"> <%- str[2] %> <a href=<%- url %>><%- str[1] %></a> <%- str[2] %> <%- template("domxref", [$0])%></span>
