<%
var currentSection = $0;
var locale = env.locale;
var slug = env.slug;
var baseURL = "/" + locale + "/docs/Mozilla/B2G_OS/";

function currentPageIsUnder(root) {
  rootSlug = "B2G_OS/" + root;
  if (slug.indexOf(rootSlug) != -1) {
    return "open";
  }
  return "closed";
}

var text = mdn.localString({
  'en-US': {
    'Build_and_install': 'Build and install',
    'Build_and_install_overview': 'Build and install overview',
    'B2G_OS_build_process_summary': 'B2G OS build process summary',
    'Build_prerequisites': 'Build prerequisites',
    'Preparing_for_your_first_build': 'Preparing for your first build',
    'Building_B2G_OS': 'Building B2G OS',
    'B2G_installer_add-on': 'B2G installer add-on',
    'Building_B2G_OS_for_Flame_on_Mac_OS_X': 'Building B2G OS for Flame on Mac OS X',
    'Choosing_how_to_run_Gaia_or_B2G_OS': 'Choosing how to run Gaia or B2G OS',
    'Compatible_Devices': 'Compatible Devices',
    'Building_the_B2G_OS_simulator': 'Building the B2G OS simulator',
    'Using_the_B2G_OS_emulators': 'Using the B2G OS emulators',
    'Installing_B2G_OS_on_a_mobile_device': 'Installing B2G OS on a mobile device',
    'Creating_and_applying_B2G_OS_update_packages': 'Creating and applying B2G OS update packages',
    'Building_and_installing_FOTA_community_builds': 'Building and installing FOTA community builds',
    'B2G_build_variables_reference_sheet': 'B2G build variables reference sheet',
    'Porting_B2G_OS': 'Porting B2G OS',
    'Porting_overview': 'Porting overview',
    'Porting_basics': 'Porting basics',
    'Porting_on_CyanogenMod': 'Porting on CyanogenMod',
    'Developing_Gaia': 'Developing Gaia',
    'Developing_Gaia_overview': 'Developing Gaia overview',
    'Running_the_Gaia_codebase': 'Running the Gaia codebase',
    'Understanding_the_Gaia_codebase': 'Understanding the Gaia codebase',
    'Making_Gaia_code_changes': 'Making Gaia code changes',
    'Testing_Gaia_code_changes': 'Testing Gaia code changes',
    'Submitting_a_Gaia_patch': 'Submitting a Gaia patch',
    'Gaia_build_system_primer': 'Gaia build system primer',
    'Customizing_build-time_apps': 'Customizing build-time apps',
    'Market_customizations_guide': 'Market customizations guide',
    'Customizing_the_keyboard_in_B2G_OS_apps': 'Customizing the keyboard in B2G OS apps',
    'Localizing_B2G_OS': 'Localizing B2G OS',
    'Make_options_reference': 'Make options reference',
    'Gaia_tools_reference': 'Gaia tools reference',
    'B2G_OS_add-ons': 'B2G OS add-ons',
    'B2G_OS_add-ons_overview': 'B2G OS add-ons overview',
    'Developing_B2G_OS_add-ons': 'Developing B2G OS add-ons',
    'B2G_OS_APIs': 'B2G OS APIs',
    'Porting_B2G_onto_Nexus_Player_(Lollipop)' : 'Porting B2G onto Nexus Player (Lollipop)'
  }
});
%>

<section class="Quick_links" id="Quick_Links">

<ol>
 <li data-default-state="<%=currentPageIsUnder('Building_and_installing_B2G_OS')%>"><a href="<%=baseURL%>Building_and_installing_B2G_OS"><%=text['Build_and_install']%></a>
  <ol>
   <li><strong><a href="<%=baseURL%>Building_and_installing_B2G_OS"><%=text['Build_and_install_overview']%></a></strong></li>
   <li><a href="<%=baseURL%>Building_and_installing_B2G_OS/B2G_OS_build_process_summary"><%=text['B2G_OS_build_process_summary']%></a></li>
   <li><a href="<%=baseURL%>B2G_OS_build_prerequisites"><%=text['Build_prerequisites']%></a></li>
   <li><a href="<%=baseURL%>Preparing_for_your_first_B2G_build"><%=text['Preparing_for_your_first_build']%></a></li>
   <li><a href="<%=baseURL%>Building"><%=text['Building_B2G_OS']%></a></li>
   <li><a href="<%=baseURL%>Building_and_installing_B2G_OS/B2G_installer_add-on"><%=text['B2G_installer_add-on']%></a></li>
   <li><a href="<%=baseURL%>Building_and_installing_B2G_OS/Building_for_Flame_on_OS_X"><%=text['Building_B2G_OS_for_Flame_on_Mac_OS_X']%></a></li>
   <li><a href="<%=baseURL%>Choosing_how_to_run_Gaia_or_B2G"><%=text['Choosing_how_to_run_Gaia_or_B2G_OS']%></a></li>
   <li><a href="<%=baseURL%>Building_and_installing_B2G_OS/Compatible_Devices"><%=text['Compatible_Devices']%></a></li>
   <li><a href="<%=baseURL%>Building_the_B2G_OS_simulator"><%=text['Building_the_B2G_OS_simulator']%></a></li>
   <li><a href="<%=baseURL%>Using_the_B2G_emulators"><%=text['Using_the_B2G_OS_emulators']%></a></li>
   <li><a href="<%=baseURL%>Installing_on_a_mobile_device"><%=text['Installing_B2G_OS_on_a_mobile_device']%></a></li>
   <li><a href="<%=baseURL%>Building_and_installing_B2G_OS/B2G_OS_update_packages"><%=text['Creating_and_applying_B2G_OS_update_packages']%></a></li>
   <li><a href="<%=baseURL%>Building/FOTA_community_builds"><%=text['Building_and_installing_FOTA_community_builds']%></a></li>
   <li><a href="<%=baseURL%>Building_and_installing_B2G_OS/B2G_Build_Variables_Reference_Sheet"><%=text['B2G_build_variables_reference_sheet']%></a></li>
  </ol>
 </li>
 <li data-default-state="<%=currentPageIsUnder('Porting_B2G_OS')%>"><a href="<%=baseURL%>Porting_B2G_OS"><%=text['Porting_B2G_OS']%></a>
  <ol>
   <li><strong><a href="<%=baseURL%>Porting_B2G_OS"><%=text['Porting_overview']%></a></strong></li>
   <li><a href="<%=baseURL%>Porting_B2G_OS/basics"><%=text['Porting_basics']%></a></li>
   <li><a href="<%=baseURL%>Porting_B2G_OS/Porting_on_CyanogenMod"><%=text['Porting_on_CyanogenMod']%></a></li>
   <li><a href="<%=baseURL%>Porting_B2G_OS/B2G_Nexus_Player"><%=text['Porting_B2G_onto_Nexus_Player_(Lollipop)']%></a></li>
  </ol>
 </li>
 <li data-default-state="<%=currentPageIsUnder('Developing_Gaia')%>"><a href="<%=baseURL%>Developing_Gaia">Developing Gaia</a>
  <ol>
   <li><strong><a href="<%=baseURL%>Developing_Gaia"><%=text['Developing_Gaia_overview']%></a></strong></li>
   <li><a href="<%=baseURL%>Developing_Gaia/Running_the_Gaia_codebase"><%=text['Running_the_Gaia_codebase']%></a></li>
   <li><a href="<%=baseURL%>Developing_Gaia/Understanding_the_Gaia_codebase"><%=text['Understanding_the_Gaia_codebase']%></a></li>
   <li><a href="<%=baseURL%>Developing_Gaia/Making_Gaia_code_changes"><%=text['Making_Gaia_code_changes']%></a></li>
   <li><a href="<%=baseURL%>Developing_Gaia/Testing_Gaia_code_changes"><%=text['Testing_Gaia_code_changes']%></a></li>
   <li><a href="<%=baseURL%>Developing_Gaia/Submitting_a_Gaia_patch"><%=text['Submitting_a_Gaia_patch']%></a></li>
   <li><a href="<%=baseURL%>Developing_Gaia/Build_System_Primer"><%=text['Gaia_build_system_primer']%></a></li>
   <li><a href="<%=baseURL%>Developing_Gaia/Customizing_build-time_apps"><%=text['Customizing_build-time_apps']%></a></li>
   <li><a href="<%=baseURL%>Developing_Gaia/Market_customizations_guide"><%=text['Market_customizations_guide']%></a></li>
   <li><a href="<%=baseURL%>Developing_Gaia/Customizing_the_keyboard"><%=text['Customizing_the_keyboard_in_B2G_OS_apps']%></a></li>
   <li><a href="<%=baseURL%>Developing_Gaia/Localizing_B2G_OS"><%=text['Localizing_B2G_OS']%></a></li>
   <li><a href="<%=baseURL%>Developing_Gaia/make_options_reference"><%=text['Make_options_reference']%></a></li>
   <li><a href="<%=baseURL%>Developing_Gaia/Gaia_tools_reference"><%=text['Gaia_tools_reference']%></a></li>
  </ol>
 </li>
 <li data-default-state="<%=currentPageIsUnder('Add-ons')%>"><a href="<%=baseURL%>Add-ons"><%=text['B2G_OS_add-ons']%></a>
  <ol>
   <li><a href="<%=baseURL%>Add-ons"><%=text['B2G_OS_add-ons_overview']%></a></li>
   <li><a href="<%=baseURL%>Add-ons/Developing_B2G_OS_add-ons"><%=text['Developing_B2G_OS_add-ons']%></a></li>
  </ol>
 </li>
 <li><a href="<%=baseURL%>API"><%=text['B2G_OS_APIs']%></a></li>
</ol>
</section>
