<ul style="-moz-column-width: 15em">
<%
/*
 * $0 max version to list
 *
 */
  
var maxVersion = $0;
var minVersion = maxVersion - 30;
if (minVersion < 4) { minVersion = 4 }
 
var loc = mdn.localString({
    "ja": "ja"
});
 
if(!loc) { loc = "en-US"; }
 
for (var i = maxVersion; i >= minVersion; i--) { %>
    <li><a href="/<%-loc%>/docs/Firefox_<%- i %>_for_developers" title="/<%-loc%>/docs/Firefox_<%-i%>_for_developers">Firefox <%- i %> for developers</a></li><%
}
 
if (minVersion == 4) { %>
  <li><a href="/<%-loc%>/docs/Firefox_3.6_for_developers" title="/<%-loc%>/docs/Firefox_3.6_for_developers">Firefox 3.6 for developers </a></li>
  <li><a href="/<%-loc%>/docs/Firefox_3.5_for_developers" title="/<%-loc%>/docs/Firefox_3.5_for_developers">Firefox 3.5 for developers</a></li>
  <li><a href="/<%-loc%>/docs/Firefox_3_for_developers" title="/<%-loc%>/docs/Firefox_3_for_developers">Firefox 3 for developers</a></li>
  <li><a href="/<%-loc%>/docs/Firefox_2_for_developers" title="/<%-loc%>/docs/Firefox_2_for_developers">Firefox 2 for developers</a></li>
  <li><a href="/<%-loc%>/docs/Firefox_1.5_for_developers" title="/<%-loc%>/docs/Firefox_1.5_for_developers">Firefox 1.5 for developers</a></li>
<% }
 
/*
    This template is difficult. Because, old "fr" page have other rule...
    If the URL of your country's page is the same as the English pages,
    You just have to add your country into the object in argument of mdn.localString.
*/
 
 
%></ul>
