<div class="multiColumn"
    style="-moz-column-width: 250px;
    -webkit-column-width: 250px;
    -o-column-width: 250px;
    -ms-column-width: 250px;
    column-width: 250px;">
<ul>
<%
/*
 * $0 max version to list
 *
 */
 
var maxVersion = $0 || 23;

// for href attr
var slug = mdn.localString({
    "en-US" : "Releases"
});

// old versions
var ov = ["3.6", "3.5", "3", "2", "1.5"];

var i;
var loc = env.locale;
// Use %0 to indicate where the Firefox version number should be
var pageTitle = mdn.localString({
    "en-US" : "Firefox %0 for developers",
    "ca" : "Firefox %0 per a desenvolupadors",
    "de" : "Firefox %0 für Entwickler",
    "es" : "Firefox %0 para Desarrolladores",
    "fr" : "Firefox %0 pour les développeurs",
    "it" : "Firefox %0 per Sviluppatori",
    "ja": "Firefox %0 for developers",
    "ko": "Firefox %0 for developers",
    "nl" : "Firefox %0 voor ontwikkelaars",
    "pl" : "Firefox %0 dla programistów",
    "pt-PT" : "Firefox %0 para Desenvolvedores",
    "ru" : "Firefox %0 для разработчика",
    "zh-CN" : "Firefox %0 for developers",
    "zh-TW" : "Firefox %0 技術文件"
});

// for newer version
for (var i = maxVersion; i >= minVersion; i--) {
    listItem(i);
}

// for older version
for(i = 0; i < ov.length; i++) {
    listItem(ov[i]);
}

function listItem(ver) { %>
    <li><a href="/<%-loc%>/docs/Mozilla/Firefox/<%- slug %>/<%-ver%>" title="/<%-loc%>/docs/Mozilla/Firefox/<%- slug %>/<%-ver%>"><%-pageTitle.replace("%0", ver)%></a></li>
<%}
%></ul>
</div>
