<div class="multiColumn" style="
column-width: 250px;
-moz-column-width: 250px;
-webkit-column-width: 250px;
-o-column-width: 250px;
-ms-column-width: 250px;">
<ul>
<%
/*
 * $0 max version to list
 *
 */
  
var maxVersion = $0;

// for href attr
var slug = mdn.localString({
    "en-US" : "Releases"
});

// for content
var str = mdn.localString({
    "fr" : ["Firefox ", " pour les développeurs"],
    "en-US": ["Firefox ", " for developers"]
});

// old versions
var ov = ["3.6", "3.5", "3", "2", "1.5"],
    ovlen = ov.length;

var loc = mdn.localString({
    "en-US" : "en-US",
    "ja": "ja",
    "zh-CN": "zh-CN"
});

// for newer version
for (var i = maxVersion; i > 3; --i) {
    %><li><a href="/<%-loc%>/docs/Mozilla/Firefox/<%- slug %>/<%- i %>"><%- str[0] %><%- i %><%- str[1] %></a></li><%
}

// for older version
for(var i = 0; i < ovlen; ++i) {
    %><li><a href="/<%-loc%>/docs/Mozilla/Firefox/<%- slug %>/<%- ov[i] %>"><%- str[0] %><%-ov[i]%><%- str[1] %></a></li><%
}

/*
    This template is difficult. Because, old "fr" page have other rule...
    If the URL of your country's page is the same as the English pages,
    You just have to add your country into the object in argument of mdn.localString.
    
    And, some old pages have this link: "https://developer.mozilla.org/en-US/docs/Updating_web_applications_for_Firefox_3"
*/
 
 
%></ul>
</div>
