<%
var name = ($0.toString()).toLowerCase();
var lang = env.locale;
var basePath = "/" + lang + "/docs/";
var sectionname = "Element";
var dest = basePath + 'Web/HTML/' + sectionname + '/' + name;
var page = wiki.getPage(dest);
var summary = "";

if (page && page.summary) {
    summary = mdn.escapeQuotes(page.summary);
} else {
    switch(lang) {
        default:
            summary = "This article hasn't been written yet. Please consider contributing!";
            break;
    }
}

switch(lang) {
    case "ja":
    case "en-US":
    case "fr":
    case "zh-CN":
        break;
    case 'es':
        dest = basePath + 'HTML/Elemento/' + name;
        break;
    default:        // Using the old path for now
        dest = basePath + 'HTML/Element/' + name;
        break;
}
if (name.indexOf(" ")==-1) {
%><a href="<%- dest %>" title="<%-summary%>"><code>&lt;<%- name %>&gt;</code></a>
<%
}
else {%>
<a href="<%- dest %>" title="<%-summary%>"><%- name %></code></a>
<%
}
%>
