<%
// Creates a Quick Links section for HTML landing pages
//
// Parameters: None.

var lang = env.locale;

switch(lang) {
    default: %>
<section id="Quick_Links">
  <ol>
   <li><%-template("LinkItem", ["Cascading Style Sheets (CSS)", "/en-US/docs/Web/CSS"])%></li>
   <li><%-template("LinkItem", ["Document Object Model (DOM)", "/en-US/docs/DOM"])%></li>
   <li><%-template("LinkItem", ["Guide to Web APIs", "/en-US/docs/Web/Guide/API"])%></li>
   <li><%-template("LinkItem", ["Web API Reference", "/en-US/docs/Web/Reference/API"])%></li>
   <li><a href="#" title="Browser-independent developer tools">Browser-independent tools</a>
    <ol>
     <li><a href="http://validator.w3.org/" title="The World Wide Web Consortium offers its HTML validator, which checks your HTML to ensure that it follows proper syntax.">W3C HTML Validator</a></li>
     <li><a href="http://tidy.sourceforge.net/" title="An open-source utility for cleaning up HTML code.">HTML Tidy</a></li>
     <li><a href="http://prettydiff.com/?html" title="A Web-based utility for comparing two versions of a file, with special support for comparing versions of HTML source.">Pretty Diff</a></li>
    </ol>
   </li>
   <li><a href="#" title="Firefox-based developer tools">Firefox developer tools</a>
    <ol>
     <li><%-template("LinkItem", ["Built-in developer tools", "/en-US/docs/Tools"])%></li>
     <li><a href="https://addons.mozilla.org/en-US/firefox/addon/1843">Firebug extension</a></li>
     <li><a href="https://addons.mozilla.org/en-US/firefox/addon/web-developer/">Web Developer extension</a></li>
    </ol>
   </li>
   <li><a href="#" title="Safari-based developer tools">Safari developer tools</a>
    <ol>
     <li><a href="https://developer.apple.com/library/safari/documentation/AppleApplications/Conceptual/Safari_Developer_Guide/Introduction/Introduction.html">Safari Web Inspector</a></li>
    </ol>
   </li>
   <li><a href="#" title="Chrome-based developer tools">Chrome developer tools</a>
    <ol>
     <li><a href="https://developers.google.com/chrome-developer-tools/">Chrome DevTools</a></li>
    </ol>
   </li>
  </ol>
 </section>
 <% // END DEFAULT: ENGLISH
    break;
}
%>
