<%
var lang = env.locale;
var name = $0;
var sectionname = "Element";
if ("es" == lang) {
    sectionname = "Elemento";
}
%>
<code><%- mdn.link('/HTML/' + sectionname + '/', $0, $0) %></code>

<% if (false) {
var lang = env.locale;
var name = $0;

var sectionname = "Element";

if ("es" == string.tolower(lang)) {
  sectionname = "Elemento";
}

var dest = lang + '/' + 'HTML/' + sectionname + '/' + name;
var destEng = 'en-US/HTML/Element/' + name;
if (wiki.pageExists(dest)) { /* the page exists */
  %><code><%-(web.link(wiki.uri(dest), '<' + name + '>'))%></code><%
} else if (lang == 'zh-TW' && wiki.pageExists(destEng)){
  /* the MozTW community consider links to English pages better than red ones. 
     I'll write about this to mozilla.dev.mdc later */   
  %><code><%-(web.link(wiki.uri(destEng), '<' + name + '>'))%></code><%
} else { /* the page doesn't exist */
  var targeturi = "/docs/new?locale=" + lang + "&slug=" + 'HTML/' + sectionname + '/' + name;
  %><code><a rel="internal" href="<%=targeturi%>" class="new">&lt;<%=$0%>&gt;</a></code><%
}
} %>
