<%
var currentSection = $0;
var locale = env.locale;
var path = env.path;

function state(section) {
  if (path.indexOf(section) !== -1) {
    return "open";
  }
  return "closed";
}

var text = mdn.localString({
  'en-US': {
    'HTTP': 'HTTP',
    'Session': 'A basic HTTP session',
    'Headers': 'Headers',
    'Response_codes': 'Response codes',
    'Cookies': 'HTTP cookies',
    'CORS': 'HTTP Access Control (CORS)',
    'Guides': 'Guides:',
    'Reference': 'References:',
    'Methods': 'HTTP request methods'
  },
  'ru': {
    'HTTP': 'HTTP',
    'Session': 'Базовая сессия',
    'Headers': 'Заголовки',
    'Response_codes': 'Коды ответа',
    'Cookies': 'Куки',
    'CORS': 'HTTP контроль доступа (CORS)',
    'Guides': 'Guides:',
    'Reference': 'References:'
  }
});
%>


<section class="Quick_links" id="Quick_Links">
  <ol>
    <li><a href="/<%=locale%>/docs/Web/HTTP"><strong><em><%=text['HTTP']%></em></strong></a></li>
    <li><strong><%=text['Guides']%></strong></li>
    <li><a href="/<%=locale%>/docs/Web/HTTP/Session"><%=text['Session']%></a></li>
    <li><a href="/<%=locale%>/docs/Web/HTTP/Cookies"><%=text['Cookies']%></a></li>  
    <li><a href="/<%=locale%>/docs/Web/HTTP/Access_control_CORS"><%=text['CORS']%></a></li>
    <li><strong><%=text['Reference']%></strong></li>
    <li><a href="/<%=locale%>/docs/Web/HTTP/Response_codes"><%=text['Response_codes']%></a></li>
    <li data-default-state="<%=state('Web/HTTP/Headers')%>"><a href="/<%=locale%>/docs/Web/HTTP/Headers"><%=text['Headers']%></a>
      <%-template("ListSubpagesForSidebar", ['/en-US/docs/Web/HTTP/Headers'])%>
    </li>
    <li data-default-state="<%=state('Web/HTTP/Methods')%>"><a href="/<%=locale%>/docs/Web/HTTP/Methods"><%=text['Methods']%></a>
      <%-template("ListSubpagesForSidebar", ['/en-US/docs/Web/HTTP/Methods'])%>
    </li>
  </ol>
</section>
