<%
var currentSection = $0;
var locale = env.locale;

function state(section) {
  if (section == currentSection) {
    return "open";
  }
  return "closed";
}

var text = mdn.localString({
  'en-US': {
    'HTTP': 'HTTP',
    'Headers': 'Headers',
    'Response_codes': 'Response codes',
    'Cookies': 'Cookies',
    'CORS': 'HTTP Access Control (CORS)'
  }
});
%>
<section id="Quick_Links">
 <ol>
  <li><a href="/<%=locale%>/docs/Web/HTTP"><strong><%=text['HTTP']%></strong></a></li>
  <li><a href="/<%=locale%>/docs/Web/HTTP/Headers"><strong><%=text['Headers']%></strong></a></li>
  <li><a href="/<%=locale%>/docs/Web/HTTP/Response_codes"><strong><%=text['Response_codes']%></strong></a></li>
  <li><a href="/<%=locale%>/docs/Web/HTTP/Cookies"><strong><%=text['Cookies']%></strong></a></li>  
  <li><a href="/<%=locale%>/docs/Web/HTTP/Access_control_CORS"><strong><%=text['CORS']%></strong></a></li>
 </ol>
</section>
