<%

/* parameters: path of IDL, parent class, scriptable/not scriptable,
/* last Gecko version changed in, summary (optional) */
/* version introduced, version deprecated, version obsoleted */
/* (all optional; timeline will draw if version introduced provided) */

var lang = env.locale;

/* defaults to English */
var scriptableOutput = "Unknown";
var scriptable = "Scriptable";
var notscriptable = "Not scriptable";
var scriptableLink = "en/Interfaces/About_Scriptable_Interfaces";
var lastChanged = "Last changed in Gecko ";
var inheritsFrom = "Inherits from: ";
var outdated = "This page has not been updated recently; the content may be outdated.";

switch(lang) {
  case "fr":
    var scriptable = "Scriptable";
    var notscriptable = "Not scriptable";
    var scriptableLink = "fr/Interfaces/À_propos_des_interfaces_scriptables";
    break;
  case "ja":
    var scriptable = "Scriptable";
    var notscriptable = "Not scriptable";
    var scriptableLink = "ja/Interfaces/About_Scriptable_Interfaces";
    break;
  case "ko":
    var scriptable = "스크립트에서 사용 가능";
    var notscriptable = "Not scriptable";
    var scriptableLink = "ko/Interfaces/About_Scriptable_Interfaces";
    break;
  case "pl":
    var scriptable = "skryptowalny";
    var notscriptable = "Not scriptable";
    var scriptableLink = "pl/Interfejsy/O_interfejsach_skryptowalnych";
    break;
  case "zh-CN":
    var scriptable = "脚本化";
    var notscriptable = "不可脚本化";
    var inheritsFrom = "继承于: ";
    var scriptableLink = "en/Interfaces/About_Scriptable_Interfaces";
    var lastChanged = "最后修改于Gecko ";
    break;
}

switch(string.tolower($2)) {
  case "scriptable":
    scriptableOutput = '<a style="color:#00cc00; font-weight:bold;" href="' + scriptableLink + '">' + scriptable + '</a>';
    break;
  case "not scriptable":
    scriptableOutput = '<span style="color:#cc0000; font-weight:bold;">' + notscriptable + '</span>';
    break;
}

/* TODO: Renable this, but with proper functionality. I can't imagine the
 * intended value is 833 years (ie. 10000 / 12)
if (date.DiffMonths(date.now, Page.date) > 10000) {
  template.note(outdated);
}
*/
%>
<div style="border:solid #dddddd 2px; margin-right:262px; margin-bottom:12px;">
<div style="background:#eeeeee; padding:2px;"><%- template("source", [$0]) %><span style="text-align:right; float:right;"><%- scriptableOutput %></span></div>
<%
var summary = $4;
if (!$4) {
  summary = "<i>Please add a summary to this article.</i>";
}
%>
<span style="padding-left:2px; padding-right:2px; padding-top:4px; padding-bottom:4px;"><%- summary %></span>
<% if ($5) { %>
  <%- template("VersionTimeline", [$5, $3, $7, $6]) %>
<% } %>
<div style="background:#eeeeee; padding:2px;">
<% if ($1 != "") { %>
  <%- inheritsFrom  + template("interface",[$1]) %>
<% } else { %>
<span>&nbsp;</span>
<% } %>
<span style="text-align:right; float:right;"><%- lastChanged + $3 + " " + template("geckoRelease", [$3]) %></span>
</div>
</div>
