<%
// Generate a table of JavaScript object property's attributes
//
// Parameters:
//
//  $0 - writable 
//  $1 - enumerable
//  $2 - configurable
// 
// {{js_property_attributes(1,1,0)}}

var header, 
    writable_name, 
    enumerable_name,
    configurable_name,
    yes,
    no;

switch(env.locale) {
    case "fr":
        header = 'Attributs de';
        writable_name = 'Écrivable';
        enumerable_name = 'Énumérable';
        configurable_name = 'Configurable';
        yes = 'Oui';
        no = 'Non';
        break;
    case "es":
        header = 'Atributos de la propiedad';
        writable_name = 'Sobrescribir';
        enumerable_name = 'Numerable';
        configurable_name = 'Configurable';
        yes = 'Sí';
        no = 'No';
        break;
    default:
        header = 'Property attributes of';
        writable_name = 'Writable';
        enumerable_name = 'Enumerable';
        configurable_name = 'Configurable';
        yes = 'yes';
        no = 'no';
        break;
}

var writable = no;
var enumerable = no;
var configurable = no;

if ($0 == 1) {
    writable = yes;
}
if ($1 == 1) {
    enumerable = yes;
}
if ($2 == 1) {
    configurable = yes;
}

%>
<table class="standard-table">
  <thead>
    <tr>
      <th class="header" colspan="2"><%=header%> <code><%=env.title%></code></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=writable_name%></td>
      <td><%=writable%></td>
    </tr>
    <tr>
      <td><%=enumerable_name%></td>
      <td><%=enumerable%></td>
    </tr>
    <tr>
      <td><%=configurable_name%></td>
      <td><%=configurable%></td>
    </tr>
  </tbody>
</table>
