<%
var currentSection = $0;

function state(section) {
  if (section == currentSection) {
    return "open";
  }
  return "closed";
}

var text = mdn.localString({
  'en-US': {
    'Tutorials': 'Tutorials:',
    'Guide': 'JavaScript Guide',
    'Introductory': 'Introductory',
    'Getting_Started': 'Getting started',
    'Overview': 'JavaScript technologies overview',
    'OO_JavaScript': 'Introduction to Object Oriented JavaScript',
    'Intermediate': 'Intermediate',
    'Re-introduction': 'A re-introduction to JavaScript',
    'Data_structures': 'JavaScript data structures',
    'Equality': 'Equality comparisons and when to use them',
    'Advanced': 'Advanced',
    'Inheritance': 'Inheritance and the prototype chain',
    'Strict_mode': 'Strict mode',
    'Typed_arrays': 'JavaScript typed arrays',
    'Memory_Management': 'Memory Management',
    'Reference': 'References:',
    'Global_Objects': 'Built-in objects',
    'Operators': 'Expressions &amp; operators',
    'Statements': 'Statements &amp; declarations',
    'Functions': 'Functions',
    'More': 'More',
    'Lexical_grammar': 'Lexical grammar',
    'Data_types': 'Data types and data structures',
    'Transitioning_to_strict_mode': 'Transitioning to strict mode',
    'Template_strings': 'Template strings',
    'Deprecated_features': 'Deprecated features',
    'Documentation': 'Documentation:',
    'Useful_lists': 'Useful lists',
    'Index': 'All pages index',
    'Methods_Index': 'Methods index',
    'Properties_Index': 'Properties index',
    'JavaScript_tag': 'Pages tagged "JavaScript"',
    'Contribute': 'Contribute',
    'Doc_status': 'JavaScript doc status',
    'The_MDN_project': 'The MDN project'
  },
  'ru': {
    'Tutorials': 'Уроки:',
    'Guide': 'Руководство по JavaScript',
    'Introductory': 'Базовые',
    'Getting_Started': 'С чего начать',
    'Overview': 'Обзор технологий JavaScript',
    'OO_JavaScript': 'Введение в объектно-ориентированный JavaScript',
    'Intermediate': 'Средние',
    'Re-introduction': 'Повторное введение в JavaScript',
    'Data_structures': 'Структуры данных JavaScript',
    'Equality': 'Проверки на равенство и когда их использовать',
    'Advanced': 'Продвинутые',
    'Inheritance': 'Наследование и цепочка прототипов',
    'Strict_mode': 'Строгий режим',
    'Typed_arrays': 'Типизированные массивы JavaScript',
    'Memory_Management': 'Управление памятью',
    'Reference': 'Справочная информация:',
    'Global_Objects': 'Встроенные объекты',
    'Operators': 'Выражения и операторы',
    'Statements': 'Инструкции и объявления',
    'Functions': 'Функции',
    'More': 'Ещё',
    'Lexical_grammar': 'Лексическая грамматика',
    'Data_types': 'Типы и структуры данных',
    'Transitioning_to_strict_mode': 'Переход в строгий режим',
    'Template_strings': 'Строки шаблонов',
    'Deprecated_features': 'Устаревшие возможности',
    'Documentation': 'Документация:',
    'Useful_lists': 'Полезные списки',
    'Index': 'Индекс всех страниц',
    'Methods_Index': 'Индекс методов',
    'Properties_Index': 'Индекс свойств',
    'JavaScript_tag': 'Страницы, помеченные «JavaScript»',
    'Contribute': 'Внести свой вклад',
    'Doc_status': 'Статус документации по JavaScript',
    'The_MDN_project': 'Проект MDN'
  }
});
%>
<section class="Quick_links" id="Quick_Links">
 <ol>
  <li><a href="/en-US/docs/Web/JavaScript"><strong><em>JavaScript</em></strong></a></li>
  <li><a href="/en-US/docs/Web/JavaScript/Tutorials"><strong><%=text['Tutorials']%></strong></a></li>
  <li data-default-state="<%=state('JavaScript Guide')%>"><a href="/en-US/docs/Web/JavaScript/Guide"><%=text['Guide']%></a>
   <%-template("ListSubpages", ['/en-US/docs/Web/JavaScript/Guide', 1, 0, 1])%>
  </li>
  <li data-default-state="<%=state('Introductory')%>"><a href="#"><%=text['Introductory']%></a>
   <ol>
    <li><a href="/en-US/docs/Web/JavaScript/Getting_Started"><%=text['Getting_Started']%></a></li>
    <li><a href="/en-US/docs/Web/JavaScript/JavaScript_technologies_overview"><%=text['Overview']%></a></li>
    <li><a href="/en-US/docs/Web/JavaScript/Introduction_to_Object-Oriented_JavaScript"><%=text['OO_JavaScript']%></a></li>
   </ol>
  </li>
  <li data-default-state="<%=state('Intermediate')%>"><a href="#"><%=text['Intermediate']%></a>
   <ol>
    <li><a href="/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript"><%=text['Re-introduction']%></a></li>
    <li><a href="/en-US/docs/Web/JavaScript/Data_structures"><%=text['Data_structures']%></a></li>
    <li><a href="/en-US/docs/Web/JavaScript/Guide/Inheritance_and_the_prototype_chain"><%=text['Equality']%></a></li>
   </ol>
  </li>
  <li data-default-state="<%=state('Advanced')%>"><a href="#"><%=text['Advanced']%></a>
   <ol>
    <li><a href="/en-US/docs/Web/JavaScript/Guide/Inheritance_and_the_prototype_chain"><%=text['Inheritance']%></a></li>
    <li><a href="/en-US/docs/Web/JavaScript/Reference/Strict_mode"><%=text['Strict_mode']%></a></li>
    <li><a href="/en-US/docs/Web/JavaScript/Typed_arrays"><%=text['Typed_arrays']%></a></li>
    <li><a href="/en-US/docs/Web/JavaScript/Memory_Management"><%=text['Memory_Management']%></a></li>
   </ol>
  </li>
  <li><strong><a href="/en-US/docs/Web/JavaScript/Reference"><%=text['Reference']%></a></strong></li>
  <li data-default-state="<%=state('Objects')%>"><a href="/en-US/docs/Web/JavaScript/Reference/Global_Objects"><%=text['Global_Objects']%></a>
   <%-template("ListSubpages", ['/en-US/docs/Web/JavaScript/Reference/Global_Objects', 1, 0, 1])%>
  </li>
  <li data-default-state="<%=state('Operators')%>"><a href="/en-US/docs/Web/JavaScript/Reference/Operators"><%=text['Operators']%></a>
   <%-template("ListSubpages", ['/en-US/docs/Web/JavaScript/Reference/Operators', 1, 0, 1])%>
  </li>
  <li data-default-state="<%=state('Statements')%>"><a href="/en-US/docs/Web/JavaScript/Reference/Statements"><%=text['Statements']%></a>
   <%-template("ListSubpages", ['/en-US/docs/Web/JavaScript/Reference/Statements', 1, 0, 1])%>
  </li>
  <li data-default-state="<%=state('Functions')%>"><a href="/en-US/docs/Web/JavaScript/Reference/Functions"><%=text['Functions']%></a>
   <%-template("ListSubpages", ['/en-US/docs/Web/JavaScript/Reference/Functions', 1, 0, 1])%>
  </li>
  <li data-default-state="<%=state('More')%>"><a href="#"><%=text['More']%></a>
   <ol>
    <li><a href="/en-US/docs/Web/JavaScript/Reference/Lexical_grammar"><%=text['Lexical_grammar']%></a></li>
    <li><a href="/en-US/docs/Web/JavaScript/Data_structures"><%=text['Data_structures']%></a></li>
    <li><a href="/en-US/docs/Web/JavaScript/Reference/Strict_mode"><%=text['Strict_mode']%></a></li>
    <li><a href="/en-US/docs/Web/JavaScript/Reference/Strict_mode/Transitioning_to_strict_mode"><%=text['Transitioning_to_strict_mode']%></a></li>
    <li><a href="/en-US/docs/Web/JavaScript/Reference/template_strings"><%=text['Template_strings']%></a></li>
    <li><a href="/en-US/docs/Web/JavaScript/Reference/Deprecated_and_obsolete_features"><%=text['Deprecated_features']%></a></li>
   </ol>
  </li>
  <li><strong><a href="/en-US/docs/MDN"><%=text['Documentation']%></a></strong></li>
  <li data-default-state="<%=state('Useful lists')%>"><a href="#"><%=text['Useful_lists']%></a>
   <ol>
    <li><a href="/en-US/docs/Web/JavaScript/Index"><%=text['Index']%></a></li>
    <li><a href="/en-US/docs/Web/JavaScript/Reference/Methods_Index"><%=text['Methods_Index']%></a></li>
    <li><a href="/en-US/docs/Web/JavaScript/Reference/Properties_Index"><%=text['Properties_Index']%></a></li>
    <li><a href="/en-US/docs/tag/JavaScript"><%=text['JavaScript_tag']%></a></li>
   </ol>
  </li>
  <li data-default-state="<%=state('Contribute')%>"><a href="#"><%=text['Contribute']%></a>
   <ol>
    <li><a href="/en-US/docs/MDN/Doc_status/JavaScript"><%=text['Doc_status']%></a></li>
    <li><a href="/en-US/docs/MDN"><%=text['The_MDN_project']%></a></li>
   </ol>
  </li>
 </ol>
</section>
