// IMPORTANT — THIS MACRO IS A WORK IN PROGRESS, AND SHOULD NOT BE USED YET.
// ASK CHRIS MILLS ABOUT IT ON DEV-MDC OR #MDN IRC IF YOU HAVE QUESTIONS



<%
var currentSection = $0;
var locale = env.locale;
var slug = env.slug;
var baseURL = "/" + locale + "/docs/Learn/";

function currentPageIsUnder(root) {
  rootSlug = "Learn/" + root;
  if (slug.indexOf(rootSlug) != -1) {
    return "open";
  }
  return "closed";
}

var text = mdn.localString({
  'en-US': {
    'Getting_started_with_the_web': 'Getting started with the Web',
      'Installing_basic_software': 'Installing basic software',
      'What_will_your_website_look_like': 'What will your website look like?',
      'Dealing_with_files': 'Dealing with files',
      'HTML_basics': 'HTML basics',
      'CSS_basics': 'CSS basics',
      'JavaScript_basics': 'JavaScript basics',
      'Publishing_your_website': 'Publishing your website',
      'How_the_Web_works': 'How the Web works',
    'HTML_—_structuring_the_Web': 'HTML — Structuring the Web',
      'Introduction_to_HTML': 'Introduction to HTML',
        'Getting_started_with_HTML': 'Getting started with HTML',
        'Whats_in_the_head_metadata_in_HTML': 'What\'s in the head? Metadata in HTML',
        'HTML_text_fundamentals': 'HTML text fundamentals',
        'Creating_hyperlinks': 'Creating hyperlinks',
        'Advanced_text_formatting': 'Advanced text formatting',
        'Document_and_website_structure': 'Document and websitr structure',
        'Debugging_HTML': 'Debugging HTML',
        'Assessment_marking_up_a_letter': 'Assessment: Marking up a letter',
        'Assessment_structuring_a_page_of_content': 'Assessment: Structuring a page of content',
      'Multimedia_and_embedding': 'Multimedia and embedding',
        'Images_in_HTML': 'Images in HTML',
        'Video_and_audio_content': 'Video and audio content',
        'Other_embedding_technologies': 'From object to iframe — other embedding technologies',
        'Adding_vector_graphics_to_the_Web': 'Adding vector graphics to the Web',
        'Responsive_images': 'Responsive images',
        'Assessment_Mozilla_splash_page': 'Assessment: Mozilla splash page',
    'CSS_styling_the_Web': 'CSS — Styling the Web',
      'Introduction_to_CSS': 'Introduction to CSS',
        'How_CSS_works': 'How CSS works',
        'CSS_syntax': 'CSS syntax',
        'Selectors_introduction': 'Selectors introduction',
        'Simple_selectors': 'Simple selectors',
        'Attribute_selectors': 'Attribute selectors',
        'Pseuso-classes_and_pseudo-elements': 'Pseudo-classes and pseudo-elements',
        'Combinators_and_multiple_selectors': 'Combinators and multiple selectors',
        'CSS_values_and_units': 'CSS values and units',
        'Cascade_and_inheritance': 'Cascade and inheritance',
        'The_box_model': 'The box model',
        'Debugging_CSS': 'Debugging CSS',
        'Assessment_fundamental_CSS_comprehension': 'Assessment: Fundamental CSS comprehension',
      'Styling_text': 'Styling text',
        'Fundamental_text_and_font_styling': 'Fundamental text and font styling',
        'Styling_lists': 'Styling lists',
        'Styling_links': 'Styling links',
        'Web_fonts': 'Web fonts',
        'Assessment_typesetting_a_community_school_homepage': 'Assessment: Typesetting a community school homepage',
      'Styling_boxes': 'Styling boxes',
        'Box_model_recap': 'Box model recap',
        'Backgrounds': 'Backgrounds',
        'Borders': 'Borders',
        'Styling_tables': 'Styling tables',
        'Advanced_box_effects': 'Advanced box effects',
        'Assessment_creating_fancy_letterheaded_paper': 'Assessment: Creating fancy letterheaded paper',
        'Assessment_a_cool_looking_box': 'Assessment: A cool-looking box',
      'CSS_layout': 'CSS layout',
        'Floats': 'Floats',
        'Positioning': 'Positioning',
        'Practical_positioning_examples': 'Practical positioning examples',
        'Flexbox': 'Flexbox',
    'JavaScript_dynamic_web_scripting': 'JavaScript — Dynamic web scripting',
      'JavaScript_first_steps': 'JavaScript first steps',
        'What_is_JavaScript': 'What is JavaScript?',
        'A_first_splash_into_JavaScript': 'A first splash into JavaScript',
        'What_went_wrong': 'What went wrong? Troubleshooting JavaScript',
        'Storing_the_information_you_need': 'Storing the information you need — Variables',
        'Basic_math_in_JavaScript': 'Basic in JavaScript — Numbers and operators',
        'Handing_text': 'Handling text — Strings in JavaScript',
        'Useful_string_methods': 'Useful string methods',
        'Arrays': 'Arrays',
        'Assessment_silly_story_generator': 'Assessment: Silly story generator',
      'JavaScript_building_blocks': 'JavaScript building blocks',
        'Making_decisions_in_your_code': 'Making decisions in your code — Conditionals',
        'Looping_code': 'Looping code',
        'Functions': 'Functions — Reusable blocks of code',
        'Build_your_own_function': 'Build your own function',
        'Function_return_values': 'Function return values',
        'Introduction_to_events': 'Introduction to events',
        'Assessment_image_gallery': 'Assessment: Image gallery',
    'Advanced_learning_material': 'Advanced learning material',
      'WebGL_graphics_processing': 'WebGL: Graphics processing',
    'Common_questions': 'Common questions',
      'HTML_questions': 'HTML questions',
      'CSS_questions': 'CSS questions',
      'How_the_Web_works': 'How the Web works',
      'Tools_and_setup': 'Tools and setup',
      'Design_and_accessibility': 'Design and accessibility',
    'How_to_contribute': 'How to contribute'    
  }
});
%>

<section class="Quick_links" id="Quick_Links">

<ol>
 <li data-default-state="<%=currentPageIsUnder('Getting_started_with_the_web')%>"><a href="<%=baseURL%>Getting_started_with_the_web"><%=text['Getting_started_with_the_web']%></a>
  <ol>
   <li><strong><a href="<%=baseURL%>Getting_started_with_the_web"><%=text['Installing_basic_software']%></a></strong></li>
   <li><strong><a href="<%=baseURL%>What_will_your_website_look_like"><%=text['What_will_your_website_look_like']%></a></strong></li>
   <li><strong><a href="<%=baseURL%>Dealing_with_files"><%=text['Dealing_with_files']%></a></strong></li>
   <li><strong><a href="<%=baseURL%>HTML_basics"><%=text['HTML_basics']%></a></strong></li>
   <li><strong><a href="<%=baseURL%>CSS_basics"><%=text['CSS_basics']%></a></strong></li>
   <li><strong><a href="<%=baseURL%>JavaScript_basics"><%=text['JavaScript_basics']%></a></strong></li>
   <li><strong><a href="<%=baseURL%>Publishing_your_website"><%=text['Publishing_your_website']%></a></strong></li>
   <li><strong><a href="<%=baseURL%>HTML_basics"><%=text['HTML_basics']%></a></strong></li>
   <li><strong><a href="<%=baseURL%>How_the_Web_works"><%=text['How_the_Web_works']%></a></strong></li>
  </ol>
 </li>


</ol>

</section>
