<%/*

Parameter:
    $0: Name of Method
    $1: Requires Version
    $2: Headline Level (Optional / Default:"3")
*/
  
var str = mdn.localString({
    "ja": ["è¦ Gecko ", ""],
    "en-US": ["Requires Gecko ", ""]
});
  
var headlineLevel = $2 || "3";
  
  
%><div>
    <span class="indicatorInHeadline standardNote standardNoteMethod"><%-
     str[0] %><%= $1 %><%- str[1] %> <%- template("geckoRelease", [$1])
    %></span>
    <h<%= headlineLevel %> name="<%=$0%>()"><%= $0 %>()</h<%= headlineLevel %>>
</div>
