<%
var el = env.locale;
var path = "/en-US/docs/";

switch (el) {
    case "ja":
        path = "/" + el + "/docs/";
        break;
    default:
        break;
}


%><ul>
    <li><a href="<%- path %>Web/Reference/Events/touchstart"><code>pointerover</code></a></li>
    <li><a href="<%- path %>Web/Reference/Events/touchstart"><code>pointerenter</code></a></li>
    <li><a href="<%- path %>Web/Reference/Events/touchstart"><code>pointerdown</code></a></li>
    <li><a href="<%- path %>Web/Reference/Events/touchstart"><code>pointermove</code></a></li>
    <li><a href="<%- path %>Web/Reference/Events/touchstart"><code>pointerup</code></a></li>
    <li><a href="<%- path %>Web/Reference/Events/touchstart"><code>pointercancel</code></a></li>
    <li><a href="<%- path %>Web/Reference/Events/touchstart"><code>pointerout</code></a></li>
    <li><a href="<%- path %>Web/Reference/Events/touchstart"><code>pointerleave</code></a></li>
    <li><a href="<%- path %>Web/Reference/Events/touchstart"><code>gotpointercapture</code></a></li>
    <li><a href="<%- path %>Web/Reference/Events/touchstart"><code>lostpointercapture</code></a></li>
</ul>
