<%
/* This template is for Japanese language pages. */
/* parameters: Firefox version, Gecko version, target release date, channel name */
/* get the page language */
 
var lang = env.locale;
 
var url = "";
 
switch(string.tolower($3)) {
  case 'nightly':
  default:
    url = "ftp://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/latest-mozilla-central/";
    break;
  case 'aurora':
    url = "ftp://ftp.mozilla.org/pub/mozilla.org/firefox/nightly/latest-mozilla-aurora/";
    break;
  case 'beta':
    url = "http://mozilla.jp/firefox/preview/";
    break;
}
 
%>
<p> Gecko <%= $1 %> を搭載した Firefox <%= $0 %> は米国時間 <%= $2 %> にリリースされます。このページでは、開発者に影響する  Firefox <%= $0 %> の変更点をまとめています。 Firefox <%= $0 %> は現在 <%= string.ToUpperFirst($3) %> として提供されています。</p>
<div class="note"><strong>注:</strong> ここに載っている変更点は今のところ Firefox <%= $0 %> に含まれる予定ですが、テストの結果 Firefox <%= $0 %> へ投入するには時期尚早と判断されたものは、以後のバージョンへ先送りされる可能性もあります。このページおよびその英語版ページを定期的にチェックして最新の情報を確認してください。</div>
