<%
// Creates and embeds a table of contents for the specified page.
//
// Parameters:
//
//  $0  Path of the page for which to insert a TOC

var list = wiki.getHeadings($0);

if (list) {
    var numHeadings = list.length;
    
    %><%-"<p>" + numHeadings + " results</p>"%><%

    for (var i=0; i<numHeadings; i++) {
        var item = list[i];
        var title = item.title;
        var level = item.level;
        
        %><li><%=level%>. <%=title%><br></li><%
        //%><%-level + ". " + title + "<br>"%><%
    }
} else {
    %><%-"<p>Meh.</p>"%><%
}
%>
