<%
var el = env.locale;

var s1 = "AbstractView (<code>window</code>)";

var s2 = mdn.localString({
    "en-US" : "(the <code>window</code> of the document).",
    "ja"    : "（document の <code>window</code>）"
});

var s3 = "long (float)";


%><tr>
  <td><code>view</code> <%- template("readonlyInline") %></td>
  <td><%- s1 %></td>
  <td><%- template("domxref", ["document.defaultView"]) %> <%- s2 %></td>
</tr>
<tr>
  <td><code>detail</code> <%- template("readonlyInline") %></td>
  <td><%- s3 %></td>
  <td><%= ( $0 || "0." ) %></td>
</tr>
