<%
var currentSection = $0;
var locale = env.locale;

function state(section) {
  if (section == currentSection) {
    return "open";
  }
  return "closed";
}

var text = mdn.localString({
  'en-US': {
    'WebGL_API': 'WebGL API',
    'WebGL_tutorial': 'WebGL tutorial',
    'Getting_started': 'Getting started with WebGL',
    '2D_content': 'Adding 2D content to a WebGL context',
    'shaders_color': 'Using shaders to apply color in WebGL',
    'Animating': 'Animating objects with WebG',
    '3D_objects': 'Creating 3D objects using WebGL',
    'Textures': 'Using textures in WebGL',
    'Lightning': 'Lighting in WebGL',
    'Animating_textures': 'Animating textures in WebGL',
    'Examples': 'Examples and articles',
    'webgl_matrix_math': 'Matrix math for the web',
    'webgl_mvp': 'WebGL model view projection',
    'webgl_best_practices': 'WebGL best practices',
    'webgl_extensions': 'Using WebGL extensions',
    'webgl_demos': 'WebGL demos in MDN Demo Studio',
    'Interfaces': 'Interfaces',
    'Documentation': 'Documentation:',
    'Useful_lists': 'Useful lists',
    'WebGL_tag': 'Pages tagged "WebGL"',
    'Contribute': 'Contribute',
    'Doc_status': 'WebGL doc status',
    'The_MDN_project': 'The MDN project',
  },
});
%>
<section id="Quick_Links">
 <ol>
  <li><a href="/<%=locale%>/docs/Web/API/WebGL_API"><strong><%=text['WebGL_API']%></strong></a></li>
  <li data-default-state="open"><a href="/<%=locale%>/docs/Web/API/WebGL_API/Tutorial"><strong><%=text['WebGL_tutorial']%></strong></a>
   <ol>
     <li><a href="/<%=locale%>/docs/Web/API/WebGL_API/Tutorial/Getting_started_with_WebGL"><%=text['Getting_started']%></a></li>
     <li><a href="/<%=locale%>/docs/Web/API/WebGL_API/Tutorial/Adding_2D_content_to_a_WebGL_context"><%=text['2D_content']%></a></li>
     <li><a href="/<%=locale%>/docs/Web/API/WebGL_API/Tutorial/Using_shaders_to_apply_color_in_WebGL"><%=text['shaders_color']%></a></li>
     <li><a href="/<%=locale%>/docs/Web/API/WebGL_API/Tutorial/Animating_objects_with_WebGL"><%=text['Animating']%></a></li>
     <li><a href="/<%=locale%>/docs/Web/API/WebGL_API/Tutorial/Creating_3D_objects_using_WebGL"><%=text['3D_objects']%></a></li>
     <li><a href="/<%=locale%>/docs/Web/API/WebGL_API/Tutorial/Using_textures_in_WebGL"><%=text['Textures']%></a></li>
     <li><a href="/<%=locale%>/docs/Web/API/WebGL_API/Tutorial/Lighting_in_WebGL"><%=text['Lightning']%></a></li>
     <li><a href="/<%=locale%>/docs/Web/API/WebGL_API/Tutorial/Animating_textures_in_WebGL"><%=text['Animating_textures']%></a></li>
   </ol>
  </li>
  <li data-default-state="open"><a href="#"><strong><%=text['Examples']%></strong></a>
   <ol>
    <li><a href="/<%=locale%>/docs/Web/API/WebGL_API/Matrix_math_for_the_web"><%=text['webgl_matrix_math']%></a></li>
    <li><a href="/<%=locale%>/docs/Web/API/WebGL_API/WebGL_model_view_projection"><%=text['webgl_mvp']%></a></li>
    <li><a href="/<%=locale%>/docs/Web/API/WebGL_API/WebGL_best_practices"><%=text['webgl_best_practices']%></a></li>
    <li><a href="/<%=locale%>/docs/Web/API/WebGL_API/Using_Extensions"><%=text['webgl_extensions']%></a></li>
    <li><a href="/<%=locale%>/demos/tag/tech:webgl"><%=text['webgl_demos']%></a></li>
   </ol>
  </li>
  <li data-default-state="open"><a href="#"><strong><%=text['Interfaces']%></strong></a>
   <ol>
    <li><%-template("domxref", ["WebGLActiveInfo"])%></li>
    <li><%-template("domxref", ["WebGLBuffer"])%></li>
    <li><%-template("domxref", ["WebGLContextEvent"])%></li>
    <li><%-template("domxref", ["WebGLFrameBuffer"])%></li>
    <li><%-template("domxref", ["WebGLObject"])%></li>
    <li><%-template("domxref", ["WebGLProgram"])%></li>
    <li><%-template("domxref", ["WebGLRenderBuffer"])%></li>
    <li><%-template("domxref", ["WebGLShader"])%></li>
    <li><%-template("domxref", ["WebGLShaderPrecisionFormat"])%></li>
    <li><%-template("domxref", ["WebGLTexture"])%></li>
    <li><%-template("domxref", ["WebGLUniformLocation"])%></li>
   </ol>
  </li>
  <li><strong><a href="/<%=locale%>/docs/MDN"><%=text['Documentation']%></a></strong></li>
  <li data-default-state="<%=state('Useful lists')%>"><a href="#"><%=text['Useful_lists']%></a>
   <ol>
    <li><a href="/<%=locale%>/docs/tag/WebGL"><%=text['WebGL_tag']%></a></li>
   </ol>
  </li>
  <li data-default-state="<%=state('Contribute')%>"><a href="#"><%=text['Contribute']%></a>
   <ol>
    <li><a href="/<%=locale%>/docs/MDN/Doc_status/API/WebGL"><%=text['Doc_status']%></a></li>
    <li><a href="/<%=locale%>/docs/MDN"><%=text['The_MDN_project']%></a></li>
   </ol>
  </li>
 </ol>
</section>
