<%
var lang = env.locale;
var anch = "a-" + $0;
var dispApi = $0;
if ($1) {
  dispApi = $1;
}

var attrName = mdn.localString({
  "en-US": "Attribute",
  "fr": "Attributs",
  "pl": "Atrybut"
});

var destOldType = lang + '/docs/XUL:' + attrName + ':' + $0;
var destNewType = lang + '/docs/XUL/' + attrName + '/' + $0;

if (wiki.pageExists(destNewType)) {
  %><code><span id="<%= anch %>"><%-(web.link(wiki.uri(destNewType), dispApi))%></span></code><%
} else if (wiki.pageExists(destOldType)) {
  %><code><span id="<%= anch %>"><%-(web.link(wiki.uri(destOldType), dispApi))%></span></code><%
} else {
  %><code><span id="<%= anch %>"><%-(web.link(wiki.uri(destNewType), dispApi))%></span></code><%
}
%>
